@media screen and (max-width:767px) {
    .technobash_video {
        width: 100vw;
        height: 90vw;
        margin: auto 0px;
        top: 20vh;
    }
    #video-frame{
        background-color: black;
    }
}