@media screen and (max-width:767px) {
    .technobash_video {
        width: 100vw;
        height: 90vw;
        margin: auto 0px;
        top: 20vh;
    }
    #video-frame{
        background-color: black;
    }
}

.gsmcoe_landing_txt{
    margin-top: 10rem;
}


@media screen and (max-width:440px) {
    .hero-heading{
        font-size:6rem;
    }
}