.nav_click{
    font-size: 15px;
}

.nav_logo{
    width: 110px;
}

.nav_logo img{
    width: 100%;
}

.indicator-line{
    height: 10px;
}

.nav_mobile_register{
    display: none;
}

@media screen and (max-width:767px){
    .nav_mobile_register{
        display: block;
    } 

    .main_black_nav{
        height: 7rem;
    }
}

.events_technobash{
    color: #000;
    background: #fff;
    padding: 7px 35px;
    border-radius: 30px;
    border: 0.5px solid black;
    font-size: 15px;
    line-height: 1rem;
}

.events_technobash:hover{
    color: #fff;
    background: #000;
    border: 0.5px solid #fff;
}
